.rghtCentringToRight{
    /*justify-self: right;*/
    height: 40px;
    width: 300px;

    align-content:center;

    align-self:center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 48px;
}

.PforCity{
    text-align: left;
    padding-top: 0px;
    padding-left: 0px;
}

.imgPlus{
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-left: 5px;
}

.hat{
    display: grid;
    grid-template-columns: 125px 75px 75px 75px;
    grid-column-gap: 20px;
    height: 100px;
}

.CityStyle{
    align-self: center;
}

.tempPsmall{
    font-size: 32pt;
    font-family: "Roboto";
    color: #8e999f;
    align-self:center;
}

.imgClassSmall{
    height: 40px;
    width: 40px;
    align-self: center;
}

button{
    color: black;
    background-color: white;
    width: 40px;
    height: 40px;
    border-width: 1px;
    border-color: black;
    border-radius: 63px;
    font-size: 12pt;
    justify-self: self-end;
}

.imgExit{
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    
    padding-top: 42px;
}

textarea{
    border: 0px;
    background-color: #f1f1f1; 
    height: 20px;
    width: 150px;
    resize: none; 
}

li {
    list-style-type: none
}