@media only screen and (max-width:860px) and (min-width : 320px) {

    body{
        margin-left: 0px;
    }

    .grid{
        display: grid;
        grid-template-columns: 100%;
        height: 100%;
        width: 100%;
    }

    .weatherBlock{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        background-color: #a7afb1;
        font-family: "Roboto";
        color: white;
        height: 100%;
        font-size: 45pt;
    }

    .weatherData{
        margin: 0;
        padding: 0;
    }

    .p1{
        margin-left: 10px;
        margin-top: 5px;
    }
    
    .p2{
        text-align: right;
        margin-right: 5px;
        color:#e0e8eb;
        margin-top: 5px;
        margin-right: 10px;
    }

    h2{
        font-family: "Roboto";
        font-size: 48pt;
        color: #8e999f;

        text-align: left;
    }

    .hat{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
        margin-bottom: 100px;
    }

    .tempPsmall{
        font-size: 52pt;
        font-family: "Roboto";
        color: #8e999f;
    }

    .imgClassBig{
        height: 200px;
        width: 200px;
        margin-top: 25px;
        float: left;
    }
    
    .tempP{
        font-size: 163pt;
        font-family: "Roboto";
        color: #8e999f;
    }
    

    .imgClassSmall{
        height: 80px;
        width: 80px;
    }

    .imgExit{
        height: 60px;
        width: 60px;
        margin-top: 5px;
        margin-left: 5px;
        transform: rotate(45deg);
    }

    .h1New{
        margin-top: 20px;
        color: #899192;
        font-size: 48pt;
        width: 400px;
    }

    h3{
        font-family: "Roboto";
        font-size: 24pt;
        color: #8e999f;
    }

    .PforCity{

        margin-left: 0px;
        padding-left: 0px;
    
    }

    .rghtCentringToRight{
        justify-self: left;
        height: 160px;
        width: 75%;
        background-color: #f1f1f1;
        margin-left: 15px;
        margin-top: 15px; 
        margin-bottom: 15px;
        font-size: 12pt;
    
        display: grid;
        grid-template-columns: 75% 25%;
    }

    .imgPlus{
        height: 90px;
        width: 90px;
        margin-top: 5px;
        margin-left: 5px;
    }
    .butDesign{
        border-radius: 7px;
        color: #8e999f;
        border: 0ch;
        background-color: #c9d2d7;
        height: 60px;
        width: 200px;
        font-size: 18pt;
        margin-top: 20px;
    }
    textarea{
        border: 0px;
        background-color: #f1f1f1; 
        padding-top: 35px;
        height: 70px;
        width: 370px;
        font-size: 24pt;
        resize: none; 
    }
}

.butDesign{
    /*display: none;*/
}

.butDesignSmall{
    /*display: block;*/
    border-radius: 7px;
    color: #8e999f;
    border: 0ch;
    background-color: #c9d2d7;
    height: 55px;
    width: 100px;
    margin-top: 20px;
}

.butDesignSmall > img{
    height: 50px;
    width: 50px;
}
