@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
html{
    overflow-x:hidden;
}

body{
    position: absolute;
    top: 5%;
    left: 50%;
    height: 100px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /*margin-left: 50px;*/
}
.h1New{
    color: #899192;
    font-size: 42pt;
    margin: 0px;
}

h2{
    font-size: 24pt;
    color: #8e999f;
}

.hr{
    display: inline;
}

.butDesign{
    border-radius: 7px;
    color: #8e999f;
    border: 0ch;
    background-color: #c9d2d7;
    height: 40px;
    width: 200px;
    margin-top: 20px;
    margin-left: 70px;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 50px;

}

.imgClassBig{
    /*height: 100%;
    width: 100%;
    margin-top: 25px;*/
    float: left;
}

.tempP{
    font-size: 38pt;
    font-family: "Roboto";
    color: #8e999f;
    /*margin-left: 150px;
    margin-top: 40px;*/
    text-align: end;
}

.weatherData{
    padding-left: 0px;
    margin-top: 32px;
}

input[type="text"] {
    background-color: #f1f1f1;
    border: 0px;
    padding-left: 10px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 135px;
    grid-row-gap: 1em;
}

.weatherBlock{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 400px;
    background-color: #a7afb1;
    font-family: "Roboto";
    color: white;
    margin-bottom: 10px;
    height: 100%;
}

.p1{
    margin-left: 10px;
    margin-top: 5px;
}


h3{
    font-family: "Roboto";
    font-size: 19pt;
    color: #8e999f;
}

.p2{
    text-align: right;
    margin-right: 5px;
    color:#e0e8eb;
    margin-top: 5px;
    margin-right: 10px;
}

.grid > div{
    /*background-color: red;*/
}

.butDesignSmall{
    display: none;
}

.supreme{
    align-self: center;
}